.TITULO{
	color: orangered;
	font-family: 'Bowlby One SC', cursive;
}

.sec_1{
	margin:20px;
}
table{
	
	
}
.Titulo{
       text-align: center;
	color: beige;
	background-color:orange;
	font-family: 'Bowlby One SC', cursive;
	
}